*.dbg
*.nes
*.o
*.tiled-session
map.txt
src/irq_buffer.s
src/main.s
src/nametable_loader.s
src/temp.s
src/wram.s
src/*-game-state.s
assets/metasprites.s
assets/metatiles.s
assets/maps/level-*.inc
tools/ld65-map.json
